@font-face {
  font-family: Markazi;
  src: url('../public/fonts/MarkaziText-VariableFont_wght.ttf');
}

#root{
  max-width: 1000px;
  margin: 0 auto;
}
.navbar {
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 20px;
  margin: 0px auto;
}

.nav-list{
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 60px;
  list-style: none;
}

.nav-link{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: sans-serif;

}